.card_container {
    width: 450px;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #343434;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
}

.information_container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.img_container {
    width: 90px;
    display: flex;
    align-items: center;
}

.img_container img {
    width: 80px;
}

.name_container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.name_container h3 {
    font-size: 20px;
    font-weight: bold;
}

.name_container p {
    font-size: 16px;
}

.score {
    text-align: end;
}