.main {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.login_container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: #222222;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 350px;
    text-align: center;
    border: 1px solid #444;
    grid-row: 2;
}

.login_container h2 {
    margin-bottom: 25px;
    color: #aaaaaa;
    font-size: 30px;
}

.input_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
}

.input_group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #cccccc;
}

.input_group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #444444;
    color: #ffffff;
}

.input_group input::placeholder {
    color: #aaaaaa;
}

.login_button {
    width: 100%;
    padding: 10px;
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.login_button:hover {
    background-color: #666666; 
}
