@import "tailwindcss";

:root {
  --background: rgb(35, 35, 35);
  /* --background: linear-gradient(to bottom right, rgb(27, 27, 27), rgb(65, 65, 65)); */
  --foreground: #ffffff;
}

@font-face {
  font-family: "Helvetica";
  src: url('../public/fonts/Helvetica/Helvetica-01.otf');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}

* {
  font-size: 18px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
