.main {
    display: grid;
    grid-template-rows: repeat(3, 200px);
}

.begin_container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    grid-row: 2;
}

.begin_container h1 {
    font-size: 40px;
    text-align: center;
}

.begin_button {
    background-color: rgb(74, 72, 72);
    font-size: 30px;
    width: 160px;
    height: 50px;
    border-radius: 10px;
}

.begin_button:hover {
    background-color: rgb(35, 34, 34);
}